{% extends "biblework/base.html" %}
{% block content %}
<h1>Bible Work & Evangelism Dashboard</h1>

<ul class="list-group">
  <li class="list-group-item"><a href="{% url 'add_study' %}">📅 Study Schedule</a></li>
  <li class="list-group-item"><a href="{% url 'add_material' %}">📚 Lesson Materials</a></li>
  <li class="list-group-item"><a href="{% url 'add_team_member' %}">👥 Outreach Teams</a></li>
  <li class="list-group-item"><a href="{% url 'add_visit' %}">✍️ Visit Logs</a></li>
  <li class="list-group-item">📈 Progress Tracker (to be implemented)</li>
</ul>
{% endblock %}
